.app-breadcrumb {
    .breadcrumb {
        .breadcrumb-item , a {
            color: #26292e;
            // font-family: Inter;
            font-size: 1.00275rem;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 1.20331rem */
            text-decoration: unset;
        }
    }
}
